.courseCard {
  border: 1px solid #ccc;
  margin: 0.5em;
  margin-bottom: 1.5em;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.5s ease-in-out;
}

.courseCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.courseCard:hover .courseCardLink:hover {
  color: #000;
  /* transition: color 0.5s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
}

.courseCard h4 {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
}

.courseCard img {
  height: 16rem;
  width: 100%;
  object-fit: cover;
}

.courseCardLink {  
  color: inherit; /* Inherits the text color from the parent element */
  text-decoration: none; /* Removes the underline */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: all 0.5s ease-in-out;
}

.btnBlock {
  width: 100%;
}

.removeButton {
  background-color: #B4835B;
  border-color: #B4835B;
}

.removeButton:hover {
  background-color: #E8D7A5;
  background-color: #F1E2BB;
  background-color: #BDAE6F;
  background-color: #7F4E27;
  border-color: #C9A98E;
}